@import url("./fonts.css");
@import url("./reset.css");

.test h1 {
  font-size: 150px;
}

/* Global */
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f8f8f8;
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 500;
  color: #1b1c21;
}

.body--event {
  background-color: #fff;
  overflow: hidden;
}

.main__wrapper {
  display: flex;
}

.main__content {
  flex-grow: 1;
  min-width: 0;
}

.main__content--blured {
  opacity: 0.05;
}

/* Header */
.header--blured {
  opacity: 0.05;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  background-color: #fff;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger-icon {
  transition: all 0.3s;
}

.burger-icon:focus,
.burger-icon:active {
  transform: scale(1.2);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo::after {
  content: "";
  display: block;
  width: 2px;
  height: 32px;
  margin-left: 16px;
  border-radius: 1px;
  background-color: #eaeaea;
}

.logo__svg path {
  transition: all 0.5s;
}

.logo:focus .logo__svg path,
.logo:active .logo__svg path,
.logo:hover .logo__svg path {
  fill: #ff3e79;
}

.header-nav {
  display: flex;
  gap: 16px;
}

.header-nav__item--tablet {
  display: none;
}

.header-nav__btn {
  transition: all 0.3s;
}

.header-nav__btn:focus,
.header-nav__btn:active,
.header-nav__btn:hover {
  transform: scale(1.2);
}

/* Aside */
.main__aside {
  display: none;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: 320px;
  height: 100vh;
  padding: 18px 16px 32px;
  background-color: #fff;
  transition: all 0.3s;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
}

.aside--visible {
  display: block;
  transform: translateY(-88px);
}

.aside__header {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.aside__logo {
  margin-left: 16px;
}

.search-icon {
  margin-left: auto;
  transition: all 0.3s;
}

.search-icon:focus,
.search-icon:active,
.search-icon:hover {
  transform: scale(1.2);
}

.aside__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.main-nav__link:focus,
.main-nav__link:hover,
.main-nav__link:active {
  color: #7e7e82;
}

.main-nav .current {
  position: relative;
  display: flex;
  align-items: center;
  color: #7e7e82;
}

.main-nav .current::before {
  content: "";
  position: absolute;
  left: -16px;
  display: block;
  width: 4px;
  height: 32px;
  background-image: url("../assets/img/icons/highlight-small.svg");
}

.aside__contacts {
  display: flex;
  flex-direction: column;
}

.aside-actions {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.aside-actions__btn {
  transition: all 0.3s;
}

.aside-actions__btn:focus,
.aside-actions__btn:active,
.aside-actions__btn:hover {
  transform: scale(1.2);
}

.aside__email {
  margin-bottom: 12px;
  transition: all 0.3s;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.aside__email:hover,
.aside__email:focus,
.aside__email:active {
  transform: scale(1.1);
  transform-origin: top left;
  color: #ff3e79;
}

.aside__number {
  margin-bottom: 8px;
  transition: all 0.3s;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.03em;
}

.aside__number:hover,
.aside__number:focus,
.aside__number:active {
  transform: scale(1.1);
  transform-origin: top left;
  color: #ff3e79;
}

.aside__langs {
  display: flex;
  gap: 7px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.aside__langs button {
  transition: all 0.3s;
}

.aside__langs button:focus,
.aside__langs button:hover,
.aside__langs button:active {
  color: #ff3e79;
}

.aside__langs .current button {
  color: #7e7e82;
}

/* Services */
.services__inner {
  padding: 24px 0 35px;
}

.services__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.services__title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.services__title::before {
  content: "";
  display: block;
  width: 4px;
  height: 40px;
  background-image: url("../assets/img/icons/highlight.svg");
}

.services-nav {
  display: none;
}

.services-nav__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: all 0.3s;
}

.services-nav__btn:hover {
  color: #ff3e79;
}

.services-nav__btn img {
  transition: all 0.3s;
}

.services-nav__btn:focus img,
.services-nav__btn:active img,
.services-nav__btn:hover img {
  transform: scale(1.2);
}

.services__tabs {
  display: flex;
  margin: 0 0 24px 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #7e7e82;
  overflow-x: auto;

  -webkit-mask-image: linear-gradient(
    to right,
    #fff 0%,
    #fff calc(100% - 50px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    #fff 0%,
    #fff calc(100% - 50px),
    transparent 100%
  );
}

.services-tabs__item {
  flex-shrink: 0;
}

.services-tabs__link {
  display: block;
  padding: 8px 9px 8px 16px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.services-tabs__link:hover {
  color: #1b1c21;
}

.services-tabs__link:focus {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.services-tabs__link--active {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.devices__inner {
  padding-inline: 16px;
}

.devices__text {
  margin-bottom: 16px;
}

.devices__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.devices__text p span {
  display: none;
}

.devices__text p:last-of-type {
  display: none;
}

.devices__link {
  display: block;
  margin-top: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: all 0.3s;
}

.devices__link:focus {
  color: #41f6d7;
}

.devices__img img {
  margin-inline: -16px;
}
